@namespace ScheduleDay.Client
@using ScheduleDay.Client.Shared
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p>We apologize, you no authorization to view this page.</p>
                    }
                </NotAuthorized>
                <Authorizing>
                    <div class="alert alert-info">Authorizing...</div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>We are sorry, there is nothing in this page.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>